@import "antd/dist/antd.css";

$base-color: #36006C;
$base-color-transparent: rgba(195, 196, 198, .3);
$second-color: #000000;
$second-color-transparent: rgba(21, 15, 6, .3);

@font-face {
  font-family: 'anticon';
  src: url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.eot');
  /* IE9*/
  src: url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.eot?#iefix') format('embedded-opentype'), /* chrome、firefox */ url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.woff') format('woff'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.ttf') format('truetype'), /* iOS 4.1- */ url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.svg#iconfont') format('svg');
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

.rock-paper-scissors-wrapper {
  letter-spacing: 0px;
  text-align: left;
  height: 100vh;
  display: flex;
  background: #fff;
  flex-direction: column;

  align-items: center;

  h1 {
    color: $base-color;
    font-size: 61px;
    font-family: 'Montserrat';
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 60px;
    margin-bottom: 10px;
  }

  .game-description {
    font-family: 'Roboto';
    width: 754px;
    font-size: 21px;
    font-weight: lighter;
    opacity: 0.54;
    color: $second-color;
    padding: 15px;
  }

  .cards-content {
    padding: 20px;
    @include flex-center;
    flex-direction: column;

    .cards-title {
      color: $second-color;
      font-family: 'Montserrat';
      font-size: 21px;
      margin: 10px auto;
    }

    .cards-wrapper {
      @include flex-center;
      flex-direction: row;
      margin-top: 20px;
    }
  }
}

.card-layout {
  min-width: 273px;
  min-height: 240px;
  @include flex-center;
  flex-direction: column;

  &:hover {
    background: #f8f8f8;
    cursor: pointer;
  }

  &.disabled {
    pointer-events: none;

    &:hover {
      background: #fff;
      cursor: none;
    }
  }

  .card-icon-wrapper, img {
    width: 63px;
    height: 138px;
  }

  .card-title {
    font-family: 'Montserrat';
    color: $base-color;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    padding-top: 20px;
  }
}

.ant-modal {
  width: unset !important;
  padding-bottom: 0;
}

.ant-modal.throw-modal, .ant-modal-content {
  @include flex-center;
  flex-direction: column;
  max-width: 879px;
  width: 100%;
  min-height: 492px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 40px #0000001A;
  border-radius: 5px;
  opacity: 1;

  &.loaded {
    &, .ant-modal-content {
      max-width: 492px;
      height: 591px;
    }

    .ant-modal-body {
      height: 80%;
      justify-content: space-evenly;
    }

    .result-button {
      width: 352px;
      height: 73px;
      background: $base-color 0% 0% no-repeat padding-box;
      border-radius: 5px;
      opacity: 1;
      font-family: 'Montserrat';
      font-size: 32px;
      color: #fff;
      letter-spacing: 0px;
      cursor: pointer;

      &:hover {
        opacity: .8;
      }
    }
  }

  .ant-modal-body {
    @include flex-center;
    flex-direction: column;
    width: 80%;
  }

  .throw-result {
    font-family: 'Roboto';
    font-size: 21px;
    font-weight: lighter;
    color: $second-color;
    opacity: .54;
  }

  .modal-message {
    color: $base-color;
    font-family: 'Montserrat';
    font-size: 32px;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 1;
  }

  .throw-wrapper {
    @include flex-center;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 30px;
    width: 100%;

    .curb-throw {
      min-width: 273px;
      min-height: 240px;
      height: 100%;
      @include flex-center;
      flex-direction: column;
      justify-content: space-evenly;

      .throw-loader {
        width: 30%;
        height: 120px;
        @include flex-center;
        justify-content: space-evenly;

        & > div {
          background: $base-color;
          width: 10px;
          height: 10px;
          opacity: 0.6;
          border-radius: 50%;
          -webkit-animation: radius-change 0.6s ease-in-out infinite alternate 0.3s;
          -moz-animation: radius-change 0.6s ease-in-out infinite alternate 0.3s;
          animation: radius-change 0.6s ease-in-out infinite alternate 0.3s;

          &:first-child {
            opacity: 1;
            -webkit-animation: radius-change 0.6s ease-in-out infinite alternate;
            -moz-animation: radius-change 0.6s ease-in-out infinite alternate;
            animation: radius-change 0.6s ease-in-out infinite alternate;
          }

          &:last-child {
            opacity: 0.2;
            -webkit-animation: radius-change 0.6s ease-in-out infinite alternate 0.6s;
            -moz-animation: radius-change 0.6s ease-in-out infinite alternate 0.6s;
            animation: radius-change 0.6s ease-in-out infinite alternate 0.6s;
          }
        }
      }
    }
  }
}

@keyframes radius-change {
  from {
    height: 10px;
    width: 10px;
  }
  to {
    height: 20px;
    width: 20px;
  }
}